@page
@model razorasp_shoper.Pages.ContactModel
@{
        ViewData["Contact"] = "Contact";
}

<h5 class="text-left text-xxl-start">PhoneNumber: &#x260e;</h5>
<h5 class="text-left text-xxl-start">Email: &#xe105;</h5>
<h5 class="text-left text-xxl-start">Instagram: &#xe114;</h5>
<h5 class="text-left text-xxl-start">Asp scaffolding and not designing!: &#xe2b1;</h5>