@page
@model ProductsModel
@{
        ViewData["Title"] = "Products";
}

<table class="table-bordered">
        <thead>Products</thead>
        <tbody>
                <tr><td>product.name</td><td>product.img</td></tr>
                <tr><td>product.name</td><td>product.img</td></tr>
        </tbody>
</table>