@page
<!-- =========================================================================
/// <summary>
/// Contact.cshtml
/// reactasp-shoper
/// created by Mehrdad Soleimanimajd on 01.08.2023
/// </summary>
/// <created>ʆϒʅ, 01.08.2023</created>
/// <changed>ʆϒʅ, 06.08.2023</changed>
========================================================================== -->

@model webapi.Pages.ContactModel
@{
        ViewData["Contact"] = "Contact";
}

<h5 class="text-left text-xxl-start">PhoneNumber: &#x260e;</h5>
<h5 class="text-left text-xxl-start">Email: &#xe105;</h5>
<h5 class="text-left text-xxl-start">Instagram: &#xe114;</h5>
<h5 class="text-left text-xxl-start">Asp scaffolding and not designing!: &#xe2b1;</h5>