<!-- =========================================================================
/// <summary>
/// Privacy.cshtml
/// reactasp-shoper
/// created by Mehrdad Soleimanimajd on 01.08.2023
/// </summary>
/// <created>ʆϒʅ, 01.08.2023</created>
/// <changed>ʆϒʅ, 06.08.2023</changed>
========================================================================== -->

@page
@model webapi.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> WE RESPECT ALL YOUR PRIVATE AFFAIRS :\.</p>
