<!-- =========================================================================
/// <summary>
/// Products.cshtml
/// reactasp-shoper
/// created by Mehrdad Soleimanimajd on 01.08.2023
/// </summary>
/// <created>ʆϒʅ, 01.08.2023</created>
/// <changed>ʆϒʅ, 06.08.2023</changed>
========================================================================== -->

@page
@model webapi.Pages.Products.ProductsModel
@{
        ViewData["Title"] = "Products";
}

<table class="table-bordered">
        <thead>Products</thead>
        <tbody>
                <tr><td>product.name</td><td>product.img</td></tr>
                <tr><td>product.name</td><td>product.img</td></tr>
        </tbody>
</table>
