@page
@model CreateModel

@{
    ViewData["Title"] = "Create";



}

@functions {
    private bool test = false;
    private void onChangeA()
    {
        test = !test;

        Console.WriteLine(test);
    }
}

<h1>Create</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form name="check">
            <input name="checkb" type="checkbox" />
            <p>@test</p>
            <button type="submit">aa</button>

            <select name="selected" onchange="onchange2()">
                <option value="op1">

                </option>
                <option value="op2">

                </option>
            </select>
        </form>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cart.Id" class="control-label"></label>
                <input asp-for="Cart.Id" class="form-control" />
                <span asp-validation-for="Cart.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Type" class="control-label"></label>
                <input asp-for="Cart.Type" class="form-control" />
                <span asp-validation-for="Cart.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Size" class="control-label"></label>
                <input asp-for="Cart.Size" class="form-control" />
                <span asp-validation-for="Cart.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
